@use "sass:map";
@use "sass:math";

@mixin global($theme) {

  &.animation-delay {
    $gridCol: 0.1;

    @while $gridCol <=4 {
      &.delay-#{$gridCol * 10} {
        animation-delay: $gridCol;
      }

      $gridCol: $gridCol + .1;
    }
  }
}

@mixin error($theme) {
  $colors: map.get($theme, 'colors');

  &.animation-error {
    animation: error ease-in-out .4s;
  }

  @keyframes error {
    0% {
      transform: translateX(-4px);
    }

    15% {
      transform: translateX(4px);
    }

    30% {
      transform: translateX(-4px);
    }

    45% {
      transform: translateX(4px);
    }

    60% {
      transform: translateX(-4px);
    }

    75% {
      transform: translateX(4px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@mixin skeleton($theme) {
  &.anim-skeleton {
    animation: skeleton infinite 1s;
  }

  @keyframes skeleton {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin underlined($theme) {
  $colors: map.get($theme, 'colors');

  @keyframes underlined {
    0% {
      background-size: 100% 40%;
      background-position: bottom;
    }

    33% {
      background-size: 100% 100%;
      background-position: bottom;
    }

    33.01% {
      background-position: top;
    }

    66% {
      background-size: 100% 0%;
      background-position: top;
    }

    66.01% {
      background-size: 100% 0%;
      background-position: bottom;
    }

    100% {
      background-size: 100% 100%;
      background-position: bottom;
    }
  }

  @keyframes underlinedEntry {
    0% {
      background-size: 100% 100%;
      background-position: bottom;
    }

    33% {
      background-size: 100% 100%;
      background-position: bottom;
    }

    33.01% {
      background-position: top;
    }

    66% {
      background-size: 100% 0%;
      background-position: top;
    }

    66.01% {
      background-size: 100% 0%;
      background-position: bottom;
    }

    100% {
      background-size: 100% 40%;
      background-position: bottom;
    }
  }
}

@mixin bounce($theme) {
  $colors: map.get($theme, 'colors');

  &.animation-bounce-top {
    animation: bounceTop ease-in-out .4s;
  }

  @keyframes bounceTop {
    0% {
      transform: translateY(0%);
    }

    20% {
      transform: translateY(-25%);
    }

    40% {
      transform: translateY(0%);
    }

    60% {
      transform: translateY(-12%);
    }

    65% {
      transform: translateY(0%);
    }

    70% {
      transform: translateY(-5%);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@mixin fadeIn($theme) {
  &.animation-fade-in-right {
    animation-name: fadeInRight;
    animation-timing-function: ease-in-out;
    animation-duration: .4s;
  }

  &.animation-fade-in-left {
    animation-name: fadeInLeft;
    animation-timing-function: ease-in-out;
    animation-duration: .4s;
  }

  &.animation-fade-in-top {
    animation-name: fadeInTop;
    animation-timing-function: ease-in-out;
    animation-duration: .4s;
  }

  &.animation-fade-in-bottom {
    animation-name: fadeInBottom;
    animation-timing-function: ease-in-out;
    animation-duration: .4s;
  }

  &.animation-fade-in {
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-duration: .4s;
  }

  @keyframes fadeInRight {
    0% {
      transform: translateX(20%);
      opacity: 0;
    }

    0.5% {
      transform: translateX(20%);
      opacity: 0;
    }

    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes fadeInLeft {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }

    0.5% {
      transform: translateX(-20%);
      opacity: 0;
    }

    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes fadeInBottom {
    0% {
      transform: translateY(20%);
      opacity: 0;
    }

    0.5% {
      transform: translateY(20%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes fadeInTop {
    0% {
      transform: translateY(-20%);
      opacity: 0;
    }

    0.5% {
      transform: translateY(-20%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@mixin fadeOut($theme) {
  &.animation-fade-out-left {
    animation: fadeOutLeft ease-in-out .6s;
  }

  &.animation-fade-out-right {
    animation: fadeOutRight ease-in-out .6s;
  }

  &.animation-fade-out {
    animation: fadeOut ease-in-out .3s;
  }

  @keyframes fadeOutLeft {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }

    100% {
      transform: translateX(-20%);
      opacity: 0;
    }
  }

  @keyframes fadeOutRight {
    0% {
      transform: translateX(0%);
      opacity: 1;
    }

    100% {
      transform: translateX(20%);
      opacity: 0;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

@mixin like($theme) {
  .animation-liked {
    animation: liked ease-in-out .6s;
    transform-origin: center center;
  }

  .animation-unlike {
    animation: unlike ease-in-out .3s;
    transform-origin: center center;
  }

  @keyframes liked {
    0% {
      transform: scale(1);
    }

    10% {
      transform: scale(1.6);
    }

    30% {
      transform: scale(1);
    }

    60% {
      transform: scale(1.6);
    }

    90% {
      transform: scale(1);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes unlike {
    0% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-10%);
    }

    50% {
      transform: translateX(10%);
    }

    80% {
      transform: translateX(-10%);
    }

    100% {
      transform: translateX(0);
    }
  }
}


@mixin loading($theme) {
  .animation-loading {
    animation: loadingLogo ease-in-out 2s infinite;
    transform-origin: center center;
  }

  @keyframes loadingLogo {
    0% {
      transform: rotate(315deg);
    }

    10% {
      transform: rotate(300deg);
    }

    // 50% {
    //   transform: rotate(0);
    // }

    90% {
      transform: rotate(30deg);
    }

    100% {
      transform: rotate(315deg);
    }
  }
}