@use "sass:map";
@use "sass:color";

@mixin global($theme) {
  $colors: map.get($map: $theme, $key: 'colors');
  $brand: map.get($map: $theme, $key: 'brand');
  $fontsize: map.get($map: $theme, $key: 'fontsize');
  $fonts: map.get($map: $theme, $key: 'fonts');
  $radius: map.get($map: $theme, $key: 'radius');
  $color_schemas: map.get($map: $theme, $key: 'color_schemas');

  &.footer {
    overflow: hidden;
    background: map.get($map: $colors, $key: 'background_1');

    &.format-simple {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      gap: 12px;

      background: none;

      a {
        border-bottom: 1px solid transparent;

        white-space: nowrap;
        font-size: map.get($map: $fontsize, $key: 'small');

        &:hover {
          border-bottom-color: map.get($map: $colors, $key: 'content');
        }
      }
    }

    .copy {
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      align-content: center;
      gap: 8px;

      opacity: .6;

      font-size: map.get($map: $fontsize, $key: 'small');

      p {
        margin: 0;
        padding: 0;

        white-space: nowrap;
        font-size: map.get($map: $fontsize, $key: 'small');
      }

      img,
      svg {
        width: 24px;
        fill: map.get($map: $colors, $key: 'content');
      }
    }

    .footer-column {
      display: grid;
      grid-auto-flow: row;
      grid-template-rows: min-content;
      row-gap: 32px;

      h6 {
        margin-top: 0;
        padding-top: 0;

        font-family: map.get($map: $fonts, $key: "title");
      }

      ul {
        padding: 0;

        &.format-double {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 16px;
        }

        li {
          padding-bottom: 16px;
          list-style: none;
        }

        a {
          border-radius: 0;
          background: none;
          border-bottom: 2px solid transparent;

          color: map.get($map: $colors, $key: "punch");
          font-weight: 600;

          &:hover {
            border-bottom-color: map.get($map: $colors, $key: "punch");
          }
        }
      }
    }

    .footer-social {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 40px;
      column-gap: 8px;

      a.social-brand {
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;

        border-radius: 50%;
        width: 40px;
        height: 40px;
        background: map.get($colors, 'content');

        color: map.get($colors, 'background_1');
        transition:
          background-color .3s;

        &:target,
        &:focus {
          outline: 4px solid map.get($colors, 'transparent_main');
          border-color: map.get($colors, 'background_1');
        }

        &:hover {
          color: map.get($colors, 'background_1');
          background-color: map.get($map: $colors, $key: "main");
          transition:
            background-color .3s,
            color .3s;

          @if $color_schemas =='dark' {
            color: map.get($colors, 'background_1');
          }
        }
      }
    }
  }
}