@use "sass:map";
@mixin global($theme) {
  $colors: map.get($map: $theme, $key: 'colors');
  $radius: map.get($map: $theme, $key: 'radius');

  &.modal {
    display: grid;
    align-items: center;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 3;

    .modal-background {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: rgba($color: map.get($colors, 'content'), $alpha: .3);

      &.style-grid {
        backdrop-filter: blur(3px);
        background-image: radial-gradient(rgba(0, 0, 0, 0) 1px,
            rgba(map.get($colors, 'background_1'), .5) 1px);
        background-size: 4px 4px;
      }
    }

    .modal-container {
      display: grid;

      position: relative;

      width: calc(100vw - 32px);
      max-width: 50vw;
      max-height: 90vh;
      height: max-content;
      margin: 0 auto;
      border-radius: map.get($map: $radius, $key: 'large');
      background-color: map.get($map: $colors, $key: "background_1");
      border: 1px solid rgba(map.get($map: $colors, $key: "content"), .3);
      box-shadow: 0 8px 40px rgba($color: #000000, $alpha: .1);
      overflow: hidden;

      transition:
        left .3s,
        right .3s;

      @media all and (max-width: 768px) {
        align-self: end;

        max-width: calc(100vw - 32px);
        margin-bottom: 16px;
      }

      [data-simplebar] {
        max-height: calc(100vh - 32px) !important;
      }

      &.no-shadow {
        box-shadow: none;
      }

      &.format-menu {
        position: fixed;
        top: 16px;
        bottom: 16px;

        height: calc(100vh - 32px);
        max-height: calc(100vh - 32px);

        max-width: 30vw;
        margin: 0;
        border-radius: map.get($map: $radius, $key: 'large');

        @media all and (max-width: 768px) {
          max-width: 80vw;
        }

        &.position-right {
          right: 16px;
        }

        &.position-left {
          left: 16px;
        }
      }

      &.sm {
        max-width: 480px;
      }

      &.size-medium {
        max-width: 640px;
      }

      &.sl,
      &.size-large {
        width: 75vw;
        max-width: 1080px;
      }

      &.sf,
      &.size-fullscreen {
        height: 100vh;
        max-height: calc(100vh - 32px);
        max-width: 100vw;
        border-radius: map.get($map: $radius, $key: "large");
        margin: auto;
      }

      .modal-close {
        position: sticky;
        top: 16px;
        left: calc(100% - 16px - 48px);
        z-index: 3;
      }

      .modal-body {
        display: grid;
        row-gap: 32px;

        padding: 0 16px 16px 16px;
      }

      .modal-title {
        padding: 40px;
        margin-bottom: 0;
        padding-right: 32px;
      }

      .modal-header {
        position: sticky;
        top: 0;

        z-index: 2;

        min-height: calc(48px + 32px);
        padding: 16px;
        padding-right: calc(16px + 48px + 16px);
        background-color: map.get($map: $colors, $key: "background_1");
        box-sizing: border-box;
      }

      &:not(:has(.modal-close)) {
        .modal-header {
          margin-top: 0 !important;
        }
      }
    }
  }
}