@use "sass:map";
@use "sass:math";

@mixin global($theme) {
  $colors: map.get($map: $theme, $key: 'colors');
  $radius: map.get($map: $theme, $key: 'radius');
  $color_schemas_radius: map.get($map: $theme, $key: 'radius_schemas');

  &.aside-menu {
    position: sticky;
    top: calc(72px + 64px);

    padding-right: 40px;

    @media all and (max-width: 768px) {
      position: fixed;
      top: auto;
      left: 16px;
      right: 16px;
      bottom: 16px;

      z-index: 2;

      height: calc(72px + 2px);
      max-width: 400px;
      margin: auto;
      box-sizing: border-box;
      border-radius: map.get($map: $radius, $key: 'large');
      border-style: solid;
      border-width: 1px;
      border-color: rgba(map.get($map: $colors, $key: "content"), .3);
      background-color: rgba(map.get($map: $colors, $key: "background_1"), .6);
      backdrop-filter: blur(8px);
      box-shadow: 0 0 8px rgba(0, 0, 0, .1);
      padding: 4px;

      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: 1fr;

        margin: 0;
        padding: 0;



        li {
          border: none;
          padding: 0;
          margin: 0;
        }

        li button,
        li a {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 24px;
          grid-auto-flow: row;
          grid-template-areas:
            "icon"
            "label";
          justify-content: center;
          justify-items: center;
          align-content: center;
          align-items: center;
          row-gap: 4px;

          box-sizing: border-box;
          height: calc(72px - 8px);
          padding: 4px;

          text-align: center;
        }
      }
    }


    ul {
      padding: 0;
      list-style: none;

      li {
        height: auto;
        list-style: none;

        transition:
          border-color .3s ease-in-out;
      }
    }

    button,
    a {
      display: grid;
      grid-template-columns: 24px 1fr;
      grid-auto-flow: column;
      grid-auto-columns: min-content;
      grid-template-areas: "icon label";
      align-items: center;
      gap: 8px;

      position: relative;

      width: 100%;
      height: 48px;
      background: none;
      border-radius: map.get($map: $radius, $key: 'medium');
      box-sizing: border-box;
      border: 1px solid transparent;
      padding: 0 8px;
      outline: none;

      color: map.get($map: $colors, $key: "content");
      font-weight: normal;
      transition:
        background-color .3s,
        border-color .3s,
        color .3s;

      &:target,
      &:focus,
      &:hover {
        background-color: map.get($map: $colors, $key: "background_3");
      }

      &.active {
        border-color: rgba(map.get($map: $colors, $key: "content"), .3);
        background-color: rgba(map.get($map: $colors, $key: "background_2"), .6);
        box-shadow: 0 0 8px rgba(0, 0, 0, .1);

        .icon {
          color: map.get($map: $colors, $key: "main");
        }
      }

      .icon {
        grid-area: icon;
      }

      span {
        grid-area: label;
      }
    }
  }
}