@use "sass:map";

@mixin global($theme) {
  $radius: map.get($map: $theme, $key: "radius");
  $colors: map.get($map: $theme, $key: "colors");

  &.media {

    &.avatar,
    &.category,
    &.audio {
      width: 100%;
    }

    &.book {
      width: 100%;
      aspect-ratio: 5/7;
      border-radius: map.get($map: $radius, $key: "small");
    }

    &.category {
      aspect-ratio: 2/1;
    }

    &.audio {
      aspect-ratio: 1/1;
      border-radius: map.get($map: $radius, $key: "small");
    }

    &.shadow {
      box-shadow: 0 0 56px rgba($color: #000000, $alpha: .05);
    }

    &.browser {
      border: 8px solid #fff;
      background-color: #fff;
    }

    // shapes
    &.shape-circle {
      border-radius: 50%;
      aspect-ratio: 1/1;
    }

    &.shape-round {
      border-radius: map.get($map: $radius, $key: "medium") + 2px;
    }

    // states
    &.state-loader {
      background: map.get($map: $colors, $key: "background_2");

      @extend .anim-skeleton;
    }
  }
}

@mixin images($theme) {
  $radius: map.get($map: $theme, $key: 'radius');

  &.avatar {
    aspect-ratio: 1/1;

    &.sm {
      width: 24px;

      &.shape-rounded {
        border-radius: map.get($map: $radius, $key: 'small');
      }
    }

    &.size-medium {
      width: 48px;

      &.shape-rounded {
        border-radius: map.get($map: $radius, $key: 'medium');
      }
    }

    &.sl {
      width: 96px;

      &.shape-rounded {
        border-radius: map.get($map: $radius, $key: 'large');
      }
    }

    &.shape-circle {
      border-radius: 50%;
    }
  }
}